.Heading{

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.header-cont{
  background-color: lightblue;
  height: 700px;
  width: auto;
  justify-content: center;
  display: flex;
  align-items: center;
}

.header-cont img{
 
  height: 500px;
  width: 500px;
  box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.526);
}
.contact-us {
  text-align: center;
  padding: 20px;
  font-size: 30px;
  background-color: #e4509781;
}

h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.contact-details {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.column {
  /* text-align: left;
  flex: 1; */
  margin: 0 10px;
}

.column p {
  margin: 10px 0;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px; 
}

.social-icons a {
  margin-right: 30px; 
  
  color: #ef0f0f;
}
a{
  margin: 10px;
  margin-top: 10px;
  font-size: 30px;
}